@{
    ViewBag.Title = "Register";
}


    <form action="Result" method="post">
        <p>  </p>
        <p>  </p>
        <p style="color:cadetblue"><i><b>Please fill the form to register: </b></i> </p>
        <b>User Name:</b> <br />
        <input type="text" name="UserName"  pattern="[A-B-C-D-E-F-G-H-I-J-K-L-M-N-O-P-Q-R-S-T-U-V-W-X-Y-Z-]{3,}" required/><br />
        <b>Password: </b> <br />
        <input type="password" minlength="8" name="password" required /><br />
        <b>Email:  </b> <br />
        <input type="email" name="Email" pattern= required /><br />
        <input type="submit" />
    </form>


